
@model System.Linq.IQueryable<ApplicationUser>

<h2>User Management</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center"> No User Found</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="User Management">
        <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="UpdateUser" 
                           asp-route-id="@user.Id">Edit</a>
                        <button type="submit" class="btn btn-sm btn-primary" 
                                onclick="return confirm('Are You sure to Delete this user')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }

    </table>

    <a class="btn btn-primary" asp-action="AddUser">Add New User</a>

}